<div id="print-section" class="container">
  <div class="info">
    <div class="header">
      <p> 广东省2024年普通专升本高校联考 </p>
      <p> 准 考 证 </p>
    </div>
    <div class="profile">
      <div class="information">
        <div class="row" nz-row>
          <p class="p_2">考 生 号：{{getDetail(0)}}</p>
          <p class="p_3">考试类型：高校联考</p>
        </div>
        <div class="row" nz-row>
          <p class="p_2">姓&nbsp;&nbsp;&nbsp;&nbsp;名：{{getDetail(1)}}</p>
          <p class="p_3">性&nbsp;&nbsp;&nbsp;&nbsp;别：{{getDetail(2)}}</p>
        </div>
        <div class="row" nz-row>
          <p class="p_1">证 件 号：{{getDetail(3)}}</p>
        </div>
        <div class="row" nz-row>
          <p class="p_1">考&nbsp;&nbsp;&nbsp;&nbsp;点：{{getDetail(4)}}</p>
        </div>
        <div class="row" nz-row>
          <p class="p_1">考点地址：{{getDetail(5)}}</p>
        </div>
      </div>
      <div class="profile_img">
        <img [src]="getImage()" alt="证件照片">
      </div>
    </div>
    <div class="schedule">
      <div class="title"> 考试科目及时间 </div>
      <div class="table_header">
        <div class="table_content_1">考试时间</div>
        <div class="table_content_2">科目</div>
        <div class="table_content_3">考场</div>
        <div class="table_content_4">座位</div>
      </div>
      <div class="table_header" *ngFor="let element of [].constructor(4); let i = index">
        <div class="table_content_1">{{getTimeString(i)}}</div>
        <div class="table_content_2">{{getMajorString(i)}}</div>
        <div class="table_content_3">{{getClassroomString(i)}}</div>
        <div class="table_content_4">{{getNumberSite(i)}}</div>
      </div>
      <div class="notification_header">
        <div class="statement_title">考点说明</div>
        <div class="statement_content">
          <p>考场号：</p>
          <div >
            <p *ngFor="let item of getNotification()">{{item}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
