.container{
  width: 100%;
  max-width: 800px;
  height: 100%;
  background-color: white;
  display: flex;
  overflow: scroll;
  padding: 0px 0px 0px 0px;

}

.top-container{
  width: 100%;
  overflow: scroll;
  padding: 0px 8px 0px 8px;
}

.card{
  margin: 8px 12px 8px 12px;
}

.warning{
  color: lightseagreen;
}

.startBTN{
  display: flex;
  background-color: lightblue;
  margin: 6px 4px 6px 4px;
  min-height: max-content;
  min-width: max-content;
}

nz-card{
  ::ng-deep .ant-card-head-title{
    font-family: kaiti;
    font-weight: 600;
    font-size: 1.1rem;
  }
  p{
    font-family: 'Times New Roman', kaiti;
    font-weight: 600;
    font-size: 1.05rem;
  }
  .red{
    color:lightcoral;
  }
}

mat-tab-group{
  ::ng-deep span{
    font-weight: 600;
    font-family: kaiti;
    font-size: 1rem;
  }
}

::ng-deep ::-webkit-scrollbar{
  display: none;
}

::ng-deep *{
  scrollbar-width: 0px;
}

.not-body{
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
// mat-card{
//   padding: 10px;
//   border-radius: 10px;
//   margin-top: 10px;
//   background-color: lightcyan;
// }

// .title{
//   font-weight: bolder;
//   text-align : center;
//   h2{
//     margin-top: 10px;
//   }
// }

// .current-matCat{
//   margin: 15px;
//   max-height: 50%;

// }

// :host ::-webkit-scrollbar {
//   /*隐藏滚轮*/
//   display: none;
// }

// .history-matCat{
//   margin: 15px;
//   max-height: 50%;
// }

// .edit{
//   background-color: lightblue;
// }

// .startBTN{
//   margin: 4px;
//   background-color: lightblue;
// }

// .checkBTN{
//   background-color: lightblue;
//   margin-right: 10px;
// }

// mat-card-footer{
//   padding: 10px;
// }

// .delete{
//   margin-left: 5px;
//   background-color: lightcoral;
// }

// .not-body{
//   height: 100%;
//   overflow: hidden;
//   padding: 0;
//   margin: 0;
//   background: lightblue;
//   font-size: 14px;
//   line-height: 1;
// }

// mat-expansion-panel{
//   margin: 10px;
//   background-color: whitesmoke;
// }

.table-s{
  overflow: scroll;
}

table{
  overflow: scroll;
  background-color: whitesmoke;

  th{
    min-width: 100px;
    max-width: 100%;
  }
  td{
    min-width: 100px;
    max-width: 100%;
  }
}

mat-expansion-panel{
  margin: 8px 12px 8px 12px;
  background-color: whitesmoke;
}
