<div class="container">
  <div class="mat-elevation-z8 top-s">
    <div class="top-button">
      <mat-icon class="mat-18" routerLink="/public/homePage/vocabulary">undo</mat-icon>
    </div>
    <div class="top-day">
      <div class="day">{{total}}</div>
      <div class="cn">天</div>
    </div>

    <div class="week-title">
      <div class="title">Sun</div>
      <div class="title">Mon</div>
      <div class="title">Tue</div>
      <div class="title">Wed</div>
      <div class="title">Thu</div>
      <div class="title">Fri</div>
      <div class="title">Sat</div>
    </div>
  </div>

  <div class="calendar-container">
    <div class="date-title_top">
      <div class="date"> {{getDate(0)}} <div>
      <div class="divider"></div>
    </div>

    <div class="calendar">
      <div class="week-day" *ngFor="let week of calendar; let i = index">
        <div class="day" *ngFor="let day of week; let i = index" [ngClass]="{'active': day.active, 'inactive': !day.active, 'today': day.today, 'checked' : day.selector}">
          <p>{{day.date}}</p>
        </div>
      </div>
    </div>

    <div class="date-title_bottom">
      <div class="date"> {{getDate(1)}} </div>
      <div class="divider"></div>
    </div>

  </div>

</div>

