mat-toolbar {
  background: #004a9f;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.perLevel{
  position: absolute;
  right: 0;
}

.sidenav-right{
  margin-left: auto;
  margin-right: 0;
}

.title{
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bolder;
  font-size: large;
  overflow: scroll;
}

.welcome{
  margin: 0 auto;
  font-weight: bolder;
  font-size: large;
}

mat-sidenav {
  margin: 12px;
  width: 17.5%;
  min-width: 275px;
  border-right: none;
  background: lightblue;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 16px;
  padding: 10px;
  overflow: auto;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}


.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
    color: white;
  }

  .text{
    color: white;
  }
}

.fab-button{
  color: #000;
  width: 29px;
  height: 29px;
  margin: 2px;
  margin-bottom: 5px;
  display: inline-table;
  overflow: auto;

}

.incorrect{
  background: lightcoral;
}

.wrong{
  background: lightcoral;
}

:host ::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
}

.correct{
  background: lightseagreen;
}

.warning{
  background: lightseagreen;
}

.answer-card{
  text-align: start;
  overflow : hidden;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: bold;
}

.designation {
  margin-top: 2px;
  font-size: 1rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgb(79, 83, 85);
}

.answer-card-title{
  text-align: center;
  color: rgb(31, 72, 204);
  font-weight: bolder;
  margin-bottom: 10px;
}

.result-card{
  background: lightcyan;
  color: #000;
}

.comment{
  font-weight: bold;
}

.unselected{
  background: white;
}
