<div class="container">
  <nz-spin [nzSpinning]="loading">
    <nz-result nzStatus="info" *ngIf="!active" nzTitle="未检索到您的联考考场信息！" nzSubTitle={{getNotification()}}>
    </nz-result>
    <div *ngIf="active">
      <nz-descriptions nzBordered>
        <nz-descriptions-item nzTitle="准考证号" [nzSpan]="3"> {{united_data ? united_data.united_exam_id : ''}} </nz-descriptions-item>
      </nz-descriptions>
      <mat-divider></mat-divider>
      <div *ngFor="let major of getData(); let i = index">
        <div class="top">
          <div class="top_title">{{major.major}}</div>
          <div class="top_button">
            <mat-icon *ngIf="state[i] === 'collapsed'" (click)="toggleBlock(i)">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="state[i] === 'expanded'" (click)="toggleBlock(i)">keyboard_arrow_up</mat-icon>
          </div>
        </div>
        <div class="description-box" #content [@expandCollapse]="state[i]">
          <nz-descriptions nzBordered>
            <nz-descriptions-item nzTitle="考试名称" [nzSpan]="3"> {{major.united_name}} </nz-descriptions-item>
            <nz-descriptions-item nzTitle="科目" [nzSpan]="2"> {{major.major}} </nz-descriptions-item>
            <nz-descriptions-item nzTitle="考试时间" [nzSpan]="3">{{getTimeString(i)}} </nz-descriptions-item>
            <nz-descriptions-item nzTitle="所属院校" [nzSpan]="3"> {{united_data ? united_data.location : ''}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="考场" [nzSpan]="2"> {{major.classroom}} </nz-descriptions-item>
            <nz-descriptions-item nzTitle="座位号" [nzSpan]="1">
              {{major.site_number}}
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
  </nz-spin>
</div>
