<a href="/public/homePage/register" >
  <header class="top-header">
</header>

<!--dust particel-->
<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>
<!--Dust particle end--->

<!-- END Lamp -->
<section class="error">
  <!-- Content -->
  <div class="error__content">
    <div class="error__message message">
      <h2 class="message__title">没有进行的考试</h2>
      <p class="message__text">请到报考页面进行报考</p>
    </div>
    <div class="error__nav e-nav">
      <a href="/public/homePage/register" class="e-nav__link"></a>
    </div>
  </div>
  <!-- END Content -->

</section>

  </a>
