<div class="container">
  <div class="top-container">
    <mat-tab-group>
      <mat-tab label="待考事项">
        <ng-template matTabContent>
          <div class="not-body" *ngIf="examInfo.length === 0">
            <nz-empty></nz-empty>
          </div>
          <div class="top-card" *ngFor="let exam of examInfo; let i = index">
            <div class="card-title">
              <div class="description">{{exam.description}}</div>
              <div class="major">{{exam.major}}</div>
              <time>{{examDate(exam.date)}} - {{examDate(exam.end)}}</time>
            </div>
            <div class="card-action">
              <button mat-button class="startBTN" *ngIf="!loading" [disabled]="getButtonStatus(i) !== 1 || getFinished(exam)"
                routerLink="/public/homePage/p/{{exam._id}}">
                {{
                getFinished(exam) ? '已交卷' :
                getButtonStatus(i) === -1 ? '加载中...' :
                getButtonStatus(i) === 0 ? getTimeSpan(i) :
                getButtonStatus(i) === 1 ? '开始考试' : ''
                }}
              </button>
              <button title="loading" mat-button class="startBTN" *ngIf="loading" [disabled]="true">
                <nz-spin nzSimple></nz-spin>
            </button>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="已结束">
        <ng-template matTabContent>
          <div class="not-body" *ngIf="endExamInfo.length === 0">
            <nz-empty></nz-empty>
          </div>
          <div class="top-card" *ngFor="let exam of endExamInfo; let i = index">
            <div class="card-title">
              <div class="description">{{exam.description}}</div>
              <div class="major">{{exam.major}}</div>
              <time>{{examDate(exam.date)}} - {{examDate(exam.end)}}</time>
            </div>
            <div class="card-action">
              <button mat-button class="startBTN" [disabled]="true"> 已结束
              </button>
            </div>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>




  <!-- <div *ngIf="examInfo ? examInfo.length != 0 : false">
  <div class="bg-info p-2 text-white title">
    <h2>{{userInformation}}</h2>
  </div>
  <div class="container-fluid">
    <div class="matCat" *ngFor="let exam of examInfo let i = index">
      <mat-card>
        <mat-card-header>
          <mat-card-title> {{exam.major}}</mat-card-title>
          <mat-card-subtitle>{{exam.description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{exam.description}}
        </mat-card-content>
        <mat-card-actions align="end">

          <button mat-button class="startBTN"
          [disabled]="getButtonStatus(i) !== 1"
          routerLink="/public/homePage/p/{{exam._id}}">
          {{getButtonStatus(i) === -1 ? '加载中...' :
            getButtonStatus(i) === 0 ?  getTimeSpan(i) :
            getButtonStatus(i) === 1 ? '开始考试' :
            getButtonStatus(i) === 2 ? '考试已结束' : ''
          }}
          </button>
        </mat-card-actions>
        <mat-card-footer align="end">
          <time>{{examDate(exam.date)}} - {{examDate(exam.end)}}</time>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div> -->
