@media print {
  body * {
    display: none;
    /* 默认隐藏所有内容 */
  }

  #print-section,
  #print-section * {
    display: block;
    /* 只显示需要打印的部分 */
  }
}

.not-printable {
  button {
    margin: 4px;
  }
}


.container {
  width: auto;
  height: auto;
  min-width: 148mm;
  max-width: 148mm;
  min-height: 210mm;
  max-height: 210mm;
  padding: 8px 8px 8px 8px;
  display: flex;
  overflow: scroll;

  .info {
    width: 100%;
    padding: 8px 12px 8px 12px;
    border: 1px solid black;

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-weight: 600;
      font-size: 1.25rem;
      text-align: center;
      font-family: heiti, 'Times New Roman';
      margin: 0px 0px 16px 0px;
      letter-spacing: 4px;

      p {
        margin: 16px
      }
    }

    .profile {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 25%;
      margin-top: 48px;
      margin-bottom: 12px;
    }

    .schedule {
      margin-top: 12px;
      width: 100%;
      height: 47.5%;

      .title {
        height: 12mm;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        font-weight: 600;
        font-family: heiti;
        font-size: large;
      }

      .table_header {
        width: 100%;
        flex-direction: row;
        display: flex;
        font-family: kaiti, 'Times New Roman';
        height: 12mm;

        .table_content_1 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 35%;
          border-top: none;
          /* 上边框 */
          border-right: none;
          /* 右边框 */
          border-bottom: 1px solid black;
          /* 下边框 */
          border-left: 1px solid black;
          letter-spacing: 1.5px;
        }

        .table_content_2 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 35%;
          border-top: none;
          /* 上边框 */
          border-right: 1px solid black;
          /* 右边框 */
          border-bottom: 1px solid black;
          /* 下边框 */
          border-left: 1px solid black;
          letter-spacing: 1.5px;
        }

        .table_content_3 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 15%;
          border-top: none;
          /* 上边框 */
          border-right: 1px solid black;
          /* 右边框 */
          border-bottom: 1px solid black;
          /* 下边框 */
          border-left: none;
          letter-spacing: 1.5px;
        }

        .table_content_4 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 15%;
          border-top: none;
          /* 上边框 */
          border-right: 1px solid black;
          /* 右边框 */
          border-bottom: 1px solid black;
          /* 下边框 */
          border-left: none;
          letter-spacing: 1.5px;
        }

      }
    }
  }

  .notification_header {
    width: 100%;
    flex-direction: row;
    display: flex;
    font-family: kaiti, 'Times New Roman';
    height: 35mm;

    .statement_title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35%;
      border-top: none;
      /* 上边框 */
      border-right: none;
      /* 右边框 */
      border-bottom: 1px solid black;
      /* 下边框 */
      border-left: 1px solid black;
    }
  }

  .statement_content {
    display: flex;
    padding: 12px 8px 12px 8px;
    width: 65%;
    border-top: none;
    /* 上边框 */
    border-right: 1px solid black;
    /* 右边框 */
    border-bottom: 1px solid black;
    /* 下边框 */
    border-left: 1px solid black;
  }
}

.information {
  width: 75%;

  .row {
    margin: 4px;
    width: 100%;
  }

  .p_2 {
    font-family: kaiti, 'Times New Roman';
    font-size: medium;
    width: 60%;
  }

  .p_3 {
    font-family: kaiti, 'Times New Roman';
    font-size: medium;
    width: 40%;
  }

  .p_1 {
    font-family: kaiti, 'Times New Roman';
    font-size: medium;
    width: 100%;
  }
}

.profile_img {
  width: 25%;
  display: flex;
  justify-content: center;
  margin-top: 4px;

  img {
    width: 100%;
    max-width: 27.5mm;
    height: auto;
    max-height: 40mm;
    background-size: cover;
  }
}
