mat-toolbar {
  background: #194e8a;
  color: white;
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: large;
    margin: 0px 0px 0px 0px;
  }

  .meun_button {
    position: absolute;
    display: flex;
    left: 8px;
  }
}

.divider {
  background-color: white;
  height: 16px;
  width: 2px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.sub_menu {

  display: flex;
  flex-direction: row;

  .sub_menu_item {
    display: flex;
    margin-right: 4px;
    margin-left: 4px;
    flex-direction: row;
    font-family: kaiti;
    font-weight: 600;
    font-size: large;
  }
}

.red {
  color: orange;
}

.right_button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  overflow: scroll;
}

:host ::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
}

::ng-deep * {
  scrollbar-width: 0px;
}

.title {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bolder;
  font-size: large;
  overflow: scroll;
}


mat-sidenav {
  margin: 8px;
  width: 300px;
  border-right: none;
  background: #194e8a;
  color: white;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 80px);
  border-radius: 8px;
  margin-left: 8px;
  margin-right: 8px;
  overflow: auto;
  background-color: rgb(238, 238, 238);
  margin-top: 8px;
  margin-bottom: 8px;
}


mat-sidenav-container {
  height: 100%
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
    color: white;
  }

  .text {
    color: white;
  }

}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: bold;
  color: white;
}

.designation {
  margin-top: 2px;
  font-size: 1rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
