<div class="container-fluid">
  <nz-descriptions nzTitle="考试信息" nzBordered>
    <nz-descriptions-item nzTitle="名称">{{exam_detail? exam_detail.description : ''}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="科目" [nzSpan]="2">{{exam_detail? exam_detail.major : ''}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="卷面分数">{{total_mark}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="时长" [nzSpan]="2">
      {{cost}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="状态" [nzSpan]="1">
      <nz-badge *ngIf="examStatus() === 1" nzStatus="success" nzText="进行中"></nz-badge>
      <nz-badge *ngIf="examStatus() === 0" nzStatus="default" nzText="未开始"></nz-badge>
      <nz-badge *ngIf="examStatus() === 2" nzStatus="error" nzText="已结束"></nz-badge>
      <nz-spin nzSimple *ngIf="examStatus() === -1"></nz-spin>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="截止时间" [nzSpan]="1">{{getTimeString()}}</nz-descriptions-item>
  </nz-descriptions>

  <div class="footer">
    <button mat-button class="button mat-elevation-z2" routerLink="/public/exam/{{exam_id}}">开始考试</button>
  </div>
</div>
