.container-fluid {
  position: relative;
  width: 100%;
  background-color: white;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 8px 8px 8px;
}

.button {
  font-family: kaiti;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 5px;
  background-color: rgb(59, 126, 214);
  color: white;
}
