.mat-card-a{
  display:inline-table;
  overflow: auto;
  margin-bottom: 10px;
  font-weight: bold;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 200px;
}

:host ::ng-deep img {
  width: auto;
  max-width: 100%;
  height: auto
}

:host ::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
}

.answer-button{
  background : rgb(238, 238, 238) ;
  justify-content: left;
  margin: 5px;
  width : 95%;
  min-height: 35px;
  height: fit-content;
  text-align : justify;
  overflow:inherit;
}

.selected{
  background: lightseagreen;
}

.matCat{
  margin-bottom: 10px;
}

.mark-box{
  font-weight: bold;
}

.mat-card-text{
  font-weight: bold;
}

.form-box{
  display: flex;
  flex-direction: column;
  .form-f{
    width: 95%;
  }

}

.comment{
  font-weight: bold;
}

.q_desc{
  font-weight: bold;
  margin-bottom: 10px;
}




