<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="考试名称">
      <th mat-header-cell *matHeaderCellDef> 考试名称 </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="所属专业">
      <th mat-header-cell *matHeaderCellDef> 所属专业 </th>
      <td mat-cell *matCellDef="let element"> {{element.major}} </td>
    </ng-container>

    <ng-container matColumnDef="学期">
      <th mat-header-cell *matHeaderCellDef> 学期 </th>
      <td mat-cell *matCellDef="let element"> {{element.semester}} </td>
    </ng-container>

    <ng-container matColumnDef="试卷名">
      <th mat-header-cell *matHeaderCellDef> 试卷名 </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{name[i]}}
        <button *ngIf="name[i] != '' " mat-raised-button class="delete"
          (click)="deletePaperId(element._id, i)">删除</button>
        <button *ngIf="name[i] == '' " mat-raised-button class="action"
          (click)="editPaperId(element._id, i)">添加</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="考试时间">
      <th mat-header-cell *matHeaderCellDef> 考试时间 </th>
      <td mat-cell *matCellDef="let element"> {{date(element.date)}} </td>
    </ng-container>

    <ng-container matColumnDef="截止时间">
      <th mat-header-cell *matHeaderCellDef> 截止时间 </th>
      <td mat-cell *matCellDef="let element"> {{date(element.end)}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="教学点">
      <th mat-header-cell *matHeaderCellDef> 教学点 </th>
      <td mat-cell *matCellDef="let element"> {{element.collage_name}} </td>
    </ng-container> -->

    <ng-container matColumnDef="报考人数">
      <th mat-header-cell *matHeaderCellDef> 报考人数 </th>
      <td mat-cell *matCellDef="let element"> {{element.member.length}} </td>
    </ng-container>

    <ng-container matColumnDef="考试状态">
      <th mat-header-cell *matHeaderCellDef> 考试状态 </th>
      <td mat-cell *matCellDef="let element"> {{element.status == 0 ? "待考" : element.status == 1 ? "待改卷" : "已结束"}} </td>
    </ng-container>

    <ng-container matColumnDef="自动评卷">
      <th mat-header-cell *matHeaderCellDef> 自动评卷 </th>
      <td mat-cell *matCellDef="let element"> {{element.isAuto ? "是" : "否"}} </td>
    </ng-container>


    <ng-container matColumnDef="按钮">
      <th mat-header-cell *matHeaderCellDef> 操作 </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button mat-raised-button class="edit" (click)="EditExam(element._id,element.description, element.major, element.paperId,
        element.date, element.time, element.end, element.isAuto, element.vd_url)">编辑</button>
        <button mat-raised-button class="delete" (click)="onDelete(element._id)">删除</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-card>
    <mat-card-actions class="footer" align="start">
      <button mat-raised-button class="form-inline added" (click)="addExam()"> 新增 </button>
      <button mat-raised-button class="form-inline added" (click)="test()"> 测试 </button>
      <input type="file" class="file-input" [accept]="'.xlsx'" (change)="uploadVocabulary($event)" #fileload>
      <div class="file-upload">
        <button mat-raised-button color="primary" class="upload-btn" (click)="fileload.click()">
          单词题库上传
        </button>
        {{fileName || "还没有上传的文件"}}
      </div>
    </mat-card-actions>
  </mat-card>
</div>
