<div class="content">
  <div class="title">
    <p>广东省2024年普通专升本高校联考</p>
    <p>考生诚信考试承诺书</p>
  </div>
  <div class="body">
    <p class="p1">本人自愿报名参加子洲县今年普通高校招生统一考试及单独招生考试，现郑重承若:</p>
    <p class="p2">一、本人已阅读了广东省2024年普通专升本高校联考的有关规定和纪律要求，愿意在考试中自觉遵守国家和省、市、县制定的有关本次考试的规定和守则，保证安规定的程序和要求参加考试。</p>
    <p class="p2">二、本人坚决遵守广东省2024年普通专升本高校联考有关报名规定，不弄虚作假，不违规报考。</p>
    <p class="p2">
      三、本人自觉服从考场工作人员和监考教师的管理，自觉接受监考员使用金属探测仪检查是否携带违禁物品(手机、手表等其他无线通讯工具)进入考场，自觉维护考试公平，自觉遵守考试纪律，，不违规、不作弊，不请他人替自己参加考试，做到诚信考试、守纪考试、文明考试。
    </p>
    <p class="p2">四、本人按要求正确填涂答题卡、试卷、草稿纸并在开考信号发出后才开始答题考试终了信号发出后，立即停止答卷，静候监考员发出离开考场指令后再有序离开。带走也不损坏试卷、答题卡、草稿纸。</p>
    <p class="p2">五、严格按照国家、地方、高校专项计划文件要求进行申报，不违规申报不提供相关虚假材料。</p>
    <p class="p1"> 如有违反上述条款，本人自愿按《国家教育考试违规处理办法》和《中华人民共和国刑法(修正案九)》等有关规定接受处理，由此造成的一切后果由本人承担。</p>
    <p class="p1">我承诺遵守以上内容。
  </div>

  <div class="footer">
    <button nzType="primary" (click)="next()" nz-button>
      已阅读协议并同意
    </button>
  </div>

</div>
