.content{
  padding: 12px 12px 12px 12px;

  .title{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 1.35rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 8px;
    font-family: kaiti;
    p{
      line-height: 1.5;
    }
  }

  .body{
    text-indent: 1rem;
    font-size: 1.15rem;
    font-family: fangsong;
    font-family: fangsong;
  }

  .p1{
    font-weight: 600;
    line-height: 1.3;
  }

  .p2{
    margin-left: 16px;
    line-height: 1.1;
  }

}

.footer{
  display: flex;
  justify-content: center;
  justify-items: center;
}
