<div class="container">
  <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
    <nz-alert nzType="info" nzMessage="温馨提示"
      nzDescription="请如实、正确的填写以下信息；这些信息将打印在准考证上！" nzShowIcon></nz-alert>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired="true">姓名</nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <input formControlName="name" nz-input placeholder="姓名" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired="true">证件号（身份证）</nz-form-label>
        <nz-form-control  [nzErrorTip]="errorIDTip">
          <nz-input-group>
            <input formControlName="ID" nz-input placeholder="请输入有效身份证号" />
          </nz-input-group>
          <ng-template #errorIDTip let-control>
            <ng-container *ngIf="control.hasError('minlength')">请输入18位有效身份证号</ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">请输入18位有效身份证号 </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired="true">性别</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="gerden" nzPlaceHolder="请选择您的性别" nzAllowClear>
            <nz-option *ngFor="let gerden of gerdenList" nzLabel="{{gerden.label}}"
              nzValue="{{gerden.value}}"> </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired="true">电话号码</nz-form-label>
        <nz-form-control [nzErrorTip]="errorPNTip">
          <nz-input-group>
            <input type="number" formControlName="phone_number" nz-input placeholder="电话号码" />
          </nz-input-group>
          <ng-template #errorPNTip let-control>
            <ng-container *ngIf="control.hasError('minlength')">请输入11位有效手机号码</ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">请输入11位有效手机号码 </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired="true">所属院校</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="college" (ngModelChange)="collegeOnChange()" nzShowSearch nzPlaceHolder="请选择您的所属院校..." nzAllowClear>
            <nz-option *ngFor="let college of collegeList" nzLabel="{{college.label}}"
              nzValue="{{college.value}}"> </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired="true">校区</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="campus" nzShowSearch nzPlaceHolder="请选择您的校区..." nzAllowClear>
            <nz-option *ngFor="let campus of campusList" nzLabel="{{campus.label}}"
              nzValue="{{campus.value}}"> </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      </div>
      <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired="true">年级</nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <input type="number" formControlName="grade" nz-input placeholder="年级" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <nz-alert nzType="info" nzMessage="照片要求"
      nzDescription="照片为小1寸人像照片，大小不得超过1MB，着装得体。此照片将打印在准考证上！" nzShowIcon></nz-alert>
    <nz-form-item>
      <nz-form-label nzRequired>人像</nz-form-label>
      <nz-upload class="avatar-uploader" nzAction="{{getUrl()}}" nzName="upload" nzListType="picture-card"
        [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event)">
        <ng-container *ngIf="!avatarUrl">
          <span class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></span>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
      </nz-upload>
    </nz-form-item>
  </form>
</div>

<div class="footer">
  <button nz-button nzType="primary" (click)="onSubmit()" [disabled]="!validateForm.valid">确认</button>
  <button nz-button nzType="default" (click)="onSave()" [disabled]="!validateForm.controls['ID'].valid">保存信息</button>
</div>
