.container{
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  max-width: 800px;
  height: 100%;
  background-color: white;
  padding: 0px 0px 0px 0px;
}

.top-container{
  width: 100%;
  padding: 0px 8px 0px 8px;
  overflow: scroll;
}

.card{
  margin: 8px 12px 8px 12px;
}

nz-card{
  ::ng-deep .ant-card-head-title{
    font-family: kaiti;
    font-weight: 600;
    font-size: 1.1rem;
  }
  p{
    font-family: 'Times New Roman', kaiti;
    font-weight: 600;
    font-size: 1.05rem;
  }
  .red{
    color:lightcoral;
  }
}

mat-tab-group{
  ::ng-deep span{
    font-weight: 600;
    font-family: kaiti;
    font-size: 1rem;
  }
}

.register_button{
  border-radius: 4px;
  padding: 6px 12px 6px 12px;
  font-weight: 600;
  font-family: kaiti;
  font-size: 1rem;
}

.active{
  background-color: lightblue;
}

.inactive{
  background-color: lightgray;
  color: gray;
}

.cancel{
  background-color: lightcoral;
}

.not-body{
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
// mat-card{
//   padding: 10px;
//   border-radius: 10px;
//   margin-top: 10px;
//   background-color: lightcyan;
// }

// .title{
//   font-weight: bolder;
//   text-align : center;
//   h2{
//     margin-top: 10px;
//   }
// }

::ng-deep ::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
}

::ng-deep * {
  scrollbar-width: 0px;
}

// .history-matCat{
//   margin: 15px;
//   max-height: 50%;
// }

// .matCat{
//   margin: 15px;
//   max-height: 50%;
// }



// .checkBTN{
//   background-color: lightblue;
//   margin-right: 10px;
// }

// .edit{
//   background-color: lightblue;
// }

// mat-card-footer{
//   padding: 10px;
// }

mat-expansion-panel{
  margin: 8px 12px 8px 12px;
  background-color: whitesmoke;
}

// .delete{
//   margin-left: 5px;
//   background-color: lightcoral;
// }

.table-s{
  overflow: scroll;
}

// .submitB{
//   background-color: lightblue;
//   margin: 4px;
// }

// .changeB{
//   background-color: lightblue;
//   margin: 4px;
// }


table{
  overflow: scroll;
  background-color: whitesmoke;

  th{
    min-width: 100px;
    max-width: 180px;
  }
  td{
    min-width: 100px;
    max-width: 180px;

  }
}

// .comprehensive-shower{
//   box-shadow: 0 0 8px 2px  lightblue;
//   border-radius: 8px;
//   opacity: .90;
//   background-color: whitesmoke;
// }
// .h2-title{
//   padding: 16px;
// }

// .c_lable{
//   padding: 16px;
// }
